@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/purple";
@import "./reset";

body,
.app {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.app-content {
  display: flex;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--card-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--card-color);
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
}