# Браузеры, которые будут поддерживаться (если они не поддерживают современный стандарт языка, будут подгтовлены полифилы)
# позволяет уменьшить main бандл, т.к. не создаются лишние полифилы
defaults
not IE 11