.ListBox {
  position: relative;
}

.options {
  position: absolute;
  cursor: pointer;
  border-radius: 12px;
  background: var(--list-box-bg);
  box-shadow: 4px 4px 8px var(--list-box-bg);
  width: 200px;
  z-index: 10;

  &.optionsTopLeft {
    right: 0;
    bottom: 100%;
  }

  &.optionsTopRight {
    left: 0;
    bottom: 100%;
  }

  &.optionsBottomLeft {
    right: 0;
  }

  &.optionsBottomRight {
    left: 0;
  }
}

.button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  max-width: 10px;
}

.withPaddingLeft {
  padding-left: 14px;
}

.disabled {
  opacity: 0.7;
  cursor: default;
}

.active {
  background: var(--inverted-primary-color);
  border-radius: 12px;
}
