.app_purple_theme {
    --bg-color: #F9F4FB;
    --inverted-bg-color: #752a7d;
    --primary-color: #392060;
    --secondary-color: #392060;
    --inverted-primary-color: #FAF4FB;
    --inverted-secondary-color: #FAF4FB;

    // skeleton
    --skeleton-color: #b199d7;
    --skeleton-shadow: #392060;

    // code
    --code-bg: #e6bfea;

    // card
    --card-color: #efdaf1;
}