.CommentItem {
  padding: 15px;
  border: 1px solid var(--primary-color);
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .avatar {
    margin-right: 10px;
  }
}

.loading {
  border: none;
}
