.list {
  width: 100%;

  .card {
    width: 100%;
    margin: 40px 0;
  }
}

.tile {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.skeletons {
  margin-top: 25px;

  &.loading {
    &.tile {
      margin-top: 65px;
    }

    &.list {
      margin-top: 105px;
    }
  }
}
